<a href="https://colab.research.google.com/github/GustavoNeves06/python-sql/blob/main/Python_3_Mundo1_Prof_Gustavo_Guanabara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Teste 1: Nome, idade e peso

nome = input('Qual é o seu nome?')
idade = input('Qual é a sua idade?')
peso = input('Qual é o seu peso?')
print(nome, idade, peso)

Qual é o seu nome?Gugu
Qual é a sua idade?28
Qual é o seu peso?130
Gugu 28 130

In [ ]:
# Exercício 1 - Aula 4

nome = input("Nome?")
print("Prazer em te conhecer,",nome,"!")

Nome?Gugu
Prazer em te conhecer, Gugu !

In [ ]:
# Exercício 2 - Aula 4

dia = input('Dia?')
mes = input('Mês?')
ano = input('Ano?')

print('Você nasceu no dia',dia,'de',mes,'de',ano,'. Correto?')

Dia?06
Mês?Dezembro
Ano?1997
Você nasceu no dia 06 de Dezembro de 1997 . Correto?

In [ ]:
# Exercício 3 - Aula 4

n1 = int(input('Primeiro Número? '))
n2 = int(input('Segundo Número? '))
s = n1 + n2

# print('A some é',numero1 + numero2)
print('A some de {} e {} é igual a {}'.format(n1, n2, s))

# Tipos primitivos:
# Int (Número Inteiro): 7; -4; 0; 67283 .
# Float (Número Real (inclui decimal)): 4.5 ; 0.076 ; -15.223 ; 7.0 .
# Bool: True ; False
# str (String, texto): 'Olá' ; '7.5' ; '' .

Primeiro Número? 6
Segundo Número? 67
A some de 6 e 67 é igual a 73

In [ ]:
# Exercício 4 - Aula 6

n = input('Digite algo: ')
print('Isso é um número? ',n.isnumeric())
print('Isso é uma letra e um número?',n.isalnum())
print('Isso é uma letra? ',n.isalpha())
print('É um número decimal?',n.isdecimal())
print('O tipo primitivo desse valor é?',type(n))

Digite algo: Gus23
Isso é um número?  False
Isso é uma letra e um número? True
Isso é uma letra?  False
É um número decimal? False
O tipo primitivo desse valor é? <class 'str'>

In [1]:
# Exercício 5 - Aula 7

numero = int(input('Coloque um número: '))
sucessor = numero + 1
antecessor = numero - 1

print('O seu sucessor é {} e o seu antecessor é {}.'.format(sucessor, antecessor))

Coloque um número: 6
O seu sucessor é 7 e o seu antecessor é 5.

In [5]:
# Exercício 6 - Aula 7

numero = int(input('Digite um número: '))
dobro = numero * 2
triplo = numero * 3
raiz = numero ** (1/2)

print('O dobro do seu número é {}, o triplo é {} e a raiz quadrada é {:.2f}!'.format(dobro, triplo, raiz))

Digite um número: 6
O dobro do seu número é 12, o triplo é 18 e a raiz quadrada é 2.45!

In [6]:
# Exercício 7 - Aula 7

nota1 = float(input('Primeira nota: '))
nota2 = float(input('Segunda nota: '))
media = (nota1 + nota2) / 2

print('A média desse aluno é {:.1f}'.format(media))

Primeira nota: 4.3
Segunda nota: 9.1
A média desse aluno é 6.7

In [7]:
# Exercício 8 - Aula 7

valorm = float(input('Digite o valor em metros: '))
cm = valorm*100
mm = valorm*1000

print('{}m são {}cm e {}mm'.format(valorm, cm, mm))

Digite o valor em metros: 1.86
1.86m são 186.0cm e 1860.0mm

In [8]:
# Exercício 9 - Aula 7

n1 = int(input('Digite o seu número: '))
tab1 = n1 * 1
tab2 = n1 * 2
tab3 = n1 * 3
tab4 = n1 * 4
tab5 = n1 * 5
tab6 = n1 * 6
tab7 = n1 * 7
tab8 = n1 * 8
tab9 = n1 * 9
tab10 = n1 * 10

print('A tabuada do 1 ao 10 do seu número é:',tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10)

Digite o seu número: 6
A tabuada do 1 ao 10 do seu número é: 6 12 18 24 30 36 42 48 54 60

In [9]:
# Exercício 10 - Aula 7

# 1 USD = 5,25 BRL (17/02/2026)

real = float(input('Digite quantos reais você tem? R$'))
dolar = real/5.25

print('Com {} reais, eu consigo comprar {:.2f} dólares.'.format(real, dolar))

Digite quantos reais você tem? R$3250.55
Com 3250.55 reais, eu consigo comprar 619.15 dólares.

In [10]:
# Exercício 11 - Aula 7

largura = float(input('Qual a largura da parede em metros: '))
altura = float(input('Qual a altura da parede em metros: '))
area = largura * altura
litro = area / 2

print('A área dessa parede é de {:.2f} metros quarados, e vou precisar de {:.2f} litros de tinta.'.format(area, litro))

Qual a largura da parede em metros: 3.15
Qual a altura da parede em metros: 2.1
A área dessa parede é de 6.62 metros quarados, e vou precisar de 3.31 litros de tinta.

In [11]:
# Exercício 12 - Aula 7

preço = float(input('Qual o preço do produto? R$'))
desconto = preço * 0.95

print('Com o desconto de 5% o novo preço do produto é de R${:.2f}'.format(desconto))

Qual o preço do produto? R$299.99
Com o desconto de 5% o novo preço do produto é de R$284.99

In [12]:
# Exercício 13 - Aula 7

salario = float(input('Qual o seu salário? R$'))
aumento = salario * 1.15

print('Com o aumento de 15% seu novo salario é R${:.2f}'.format(aumento))

Qual o seu salário? R$9000.00
Com o aumento de 15% seu novo salario é R$10350.00